@import "tailwindcss";

:root {
  --font-heading: 'Outfit', sans-serif;
  --font-body: 'Inter', sans-serif;
}

@theme {
  --font-heading: 'Outfit', sans-serif;
  --font-body: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: #020617;
  /* Slate 950 - Deep Space */
  color: #e2e8f0;
  /* Slate 200 - Starlight */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #818cf8;
}

/* Highlighting */
::selection {
  background: #22d3ee;
  /* Cyan 400 */
  color: #020617;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}